[submodule "themes/simple-bootstrap"]
	path = themes/simple-bootstrap
	url = git@github.com:awray3/simple-bootstrap.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
